a {
  text-decoration: none;
  color: #000;
}
.main-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.main-list li {
  font-weight: 600;
  font-size: 24px;
}

a:hover,
a:focus {
  color: gray;
}
